.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    width: 70vw;
}

img{
    width: 10rem;
    height: 20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;
}

p{
    color: black;
    text-align: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-prev:before,
.slick-next:before {
    color: yellow;
}